@import "./styles/_variables.css";
@import "./styles/_reset.css";
@import "./styles/_components.css";

body {
  background-image: url("../src/assets/bg-triangles.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--background-color);
  display:flex;
  justify-content:center;
  align-items:center;
}

#app {
  width:80%;
  max-width:1200px;
}
